streamlit==1.40.2
pandas==2.2.3
numpy==1.26.4
plotly==5.24.1
requests==2.32.3
yfinance==0.2.50
beautifulsoup4==4.12.3
html5lib==1.1
openpyxl==3.1.5
xlrd==2.0.1
Pillow==10.4.0
ta==0.11.0
scipy==1.14.1
scikit-learn==1.5.2
python-dateutil==2.9.0.post0
pytz==2024.2